# Print

The print() function prints the specified message to the screen, or other standard output device.

The message can be a string, or any other object, the object will be converted into a string before written to the screen.

### Printing String:

In [1]:
print("Hello World")

Hello World

### Printing Number:

In [3]:
print(111)

111

In [4]:
print(10.145)

10.145

<mark> Task </mark>

<mark> Print your Name:  </mark>

<mark>  Print your lucky Number: </mark>

## Fundamental data types

Python has eight built-in data types. Four of those are quite simple, in the sense that they can store a single value:

Integers

Floats

Booleans

Strings

### Integers

An Python integer is what in Math is called a **natural number**. They are the numbers you count.

Python allows you to do basic arithmetic with integers whether you define variables or not. Those operation are represented using the same notation you saw on a calculator.

In [5]:
2+2

4

In [6]:
2-2

0

In [8]:
2+(-2)+4

4

In [11]:
8/6

1.3333333333333333

We see that the division operator stores the answer that we are used to, which is $2.6\bar{6}$. This behavior for the division operator is actually new in Python 3! Before in Python 2 when we would do the operation 

`first_result = 8 / 3`

We would get the result:

`print( first_result ) ==> 2`

This was because it was thought that if we divide one integer by another integer, the operation should also return an integer in order to keep all the variable types the same. 

To access this form of truncating division (it's called truncating division, because it just truncates all the numbers after the decimal) we actually use `//` like this:

In [12]:
8//6

1

What if we want to get the remainder? The symbol is:

In [13]:
8%6

2

In [14]:
a=2
b=4

In [17]:
print(a+b)

6

<mark> Use five mathematical operators (`+ - * / **`) to produce the number `4` </mark>

### Floats
A Python float is what in Math is called a rational number. While floats are meant to replicate on the computer real numbers the fact is that one can only use a limited amount of storage to keep a number so it is impossible to store an irrational number such as pi.

In [19]:
new_float = 4.0
print(new_float)

4.0

So what if we want to change an integer to a float or vice versa???

All we have to do is cast the number using the data type name that we want to transform it to. We can see this below:

In [20]:
int(4.8)

4

In [21]:
float(2)

2.0

In [22]:
basic_int = 2

print( type(basic_int) )

<class 'int'>

In [23]:
basic_int = 3.01

print( type(basic_int) )

<class 'float'>

Now something that you should notice here is that `float` and `int` are colored green (as are `print` and `type`). That's because these are words in Python that are already defined by the language. 

**Python will let you overwrite them**. However, you should wait until you are a programming god to do it (or just don't do it. ever. either way). 

If you ever accidentally do it, like so:

In [27]:
int = 4

int(5.0)

TypeError: 'int' object is not callable

you'll lose the int function. However, you can get it back if you just delete the undesired assignment.

In [25]:
del int

In [26]:
int(5.0)

5

Order of operations
Python respects the typical order of operations when it evaluates expressions (PEMDAS - Parentheses, Exponents, Multiplication, Division, Addition, Subtraction).

To access the exponentiation operation, you use the ** symbol.

In [28]:
2 ** 3

8

In [29]:
eqn1 = 2 * 3 - 2
print( eqn1 )

4

In [30]:
eqn2 = -2 + 2 * 3
print( eqn2 )

4

In [31]:
eqn3 = -2 + (2 % 3)
print( eqn3 )

0

In [32]:
eqn4 = (.3 + 5) // 2
print(eqn4)

2.0

<mark> Convert int  to a `float` </mark>

In [29]:
a=1

In [30]:
type(a)

int

### Comparing numbers

As important as being able to calculate something, is to be able to compare the result of several computations.  

Most of the symbols used for comparison are quite standard and just what you would expect.  The exceptions are the symbols for 'different' and 'equal to'.

!=
==

<=
>=
<
>

The $==$ allows us to check if one side of the operator is equal to the other side.

In [34]:
4==4

True

In [35]:
4==3

False

Python evaluates the expression and tells us that it is `True` if it is correct or `False` if it is incorrect.

The $!=$ operator allows us to check if one side does not equal the other side:

In [36]:
4 != 2

True

In [37]:
4 != 4

False

In [38]:
4 > 2

True

In [39]:
4 > 4

False

In [40]:
4 >= 4

True

### Booleans

A Python Boolean is what is math is called a **logical variable**. The name Boolean refers to **George Boole** who first defined an algebraic system of logic in the mid 19th century. The Boolean data type is primarily associated with conditional statements, which allow different actions and change control flow depending on whether a programmer-specified Boolean condition evaluates to `True` or `False`.

With just these two variable values we can implement basic logic and check for truth in a programming language. Let's say that I have one puppy at home and his name is Frankenstein. I will say that the variable puppy is True.

In [41]:
puppy = True

In [42]:
print(puppy)

True

In [43]:
type(puppy)

bool

In [47]:
puppy, puppies = True, False

We can see that when we print `puppy` it says `True` and that the type is `bool`. 

Since I only have one puppy, I'm going to say that `puppies` is `False`.

We'll see here that each of those variables has its own value.

In [48]:
print("Do I have a puppy?", puppy)
print("Do I have puppies?", puppies)

Do I have a puppy? True
Do I have puppies? False

To implement logic we have three basic operations: `and`, `not`, and `or`.

These can be used to create the most basic statements. Here's how they work.

If I use the `and` operator, then both sides of the `and` expression need to be True for the expression to be true.

In [50]:
True and True

True

In [51]:
True and False

False

In [52]:
puppy and puppies

False

In [53]:
not puppies

True

In [54]:
not puppy

False

In [55]:
puppy and not puppies

True

In [56]:
puppy or puppies

True

In [57]:
False or False

False

### Strings

A Python string is an **ordered sequence of characters**. Python strings are very powerful and enable us to deal with text even if there is a lot of it and even if we don't know its structure.

To start off let's make some variables.

In [3]:
hello = 'hello'

print( hello )

hello

In [60]:
a="hello"

In [61]:
print(a)

hello

You can use basic math operators to add strings together and make a longer string.

In [64]:
print("abc" + " and " + "xyz")

abc and xyz

You can even just multiply a string to make it longer. Can you say gyros seven times fast?

In [63]:
"abc " * 7

'abc abc abc abc abc abc abc '

In [65]:
"gyros"/"falafel"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [66]:
"gyros" - "falafel"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

We can add strings and variables that have string values together to create a longer string, then assign that longer string to a variable.

In [4]:
food="Burger"

In [5]:
order = hello + ', I would like a ' + food

print(order)

hello, I would like a Burger

Hmmm, well it is correct as a sentence but we forgot to capitalize `hello`! 

Keep in mind that after a lifetime of reading it is a lot easier for us to see and recognize correct strings than it is to tell the computer to recognize them. 

Fortunately, string variables have some **built-in methods** that we use on the variables to help with these situations.

In [6]:
order.capitalize()

'Hello, i would like a burger'

BAM! 

By using the capitalize() method on the order variable, you got the capitalized `hello`. 

An important thing to note, though, is that while that cell printed the string with `Hello`, **it didn't actually change the variable**.

In [7]:
order

'hello, I would like a Burger'

In [8]:
order = order.capitalize()

order

'Hello, i would like a burger'

There are three other functions that perform actions like `capitalize()`, and those are:

* `lower()`, makes the entire string lowercase
* `upper()`, makes the entire string uppercase
* `title()`, capitalizes every word in a string

In [9]:
order.title()

'Hello, I Would Like A Burger'

But you'll notice that I screwed up a little bit by setting `order` to the capitalized version of itself (the grammar nazis reading along have probably been going crazy all this time!). When we capitalized the string, we lost the capitalized `i`! Python is pretty smart, but it only does exactly what we tell it to do and the `capitalize()` function only capitalizes the first letter in a string.

The simplest remedy would be to go back and recreate the order variable.

In [10]:
order = hello.capitalize() + ', I would like a ' + food

order

'Hello, I would like a Burger'

We could do this programmatically by using some of the other built-in functions.

One way would be to `strip` away the `Hello,` at the start. Python has a `strip` method that strips away characters from the right side as well as `lstrip` which strips away characters starting from the left.

In [11]:
order.lstrip('Helo,')

' I would like a Burger'

Notice that I didn't need to put in `l` twice? That's because I just put in all of the individual characters I want stripped and Python goes and removes **any and all** instances of those characters until it encounters a character that I did not tell it to strip. We can test that by adding an `I` as the next character that we see, but not the space which comes before it.

In [12]:
order.lstrip('Helo,I')

' I would like a Burger'

Same result! This is a handy way of thinking, we just want to strip away the parts we don't want until we get to what we do want.

We can also check the contents of a string using built-in methods. For example, we can make sure that all of the characters are alphabetical.

In [13]:
hello.isalpha()

True

This is handy because we can have numbers that are a string

In [14]:
del int
real_number = int('4')

print( real_number )
print( type(real_number) )

NameError: name 'int' is not defined

We can do the same thing for floats, too.

However, we cannot do that with anything that has alphabetical characters.

In [15]:
float('4.2') * 2

8.4

### Strings are actually collections!

Strings are collections of characters.  Because they are collections, you are able to access its elements individually or in groups. 

Accessing a single element of the string is called **indexing**. 

**To index a single element, you add `[ ]` after the variable name** and tell it the numerical index of the element you want to access.

In [19]:
print(food)

Burger

In [16]:
food[0]

'B'

In [18]:
food[1]

'u'

In [20]:
food[-1]

'r'

### Slicing a string

What if we wanted to get out more than one element from a string? We can do that too, it's called slicing.

The syntax for slicing is deceptively simple, the full syntax is:

`variable[start_index : stop_index : step]`

You'll see that all of the inputs go within the `[]` and the `:` separates each input. 

The `start_index` tells python which index we want to start getting elements from.

The `stop_index` tells python which index we want elements **up to but not including**

The `step` tells python how many steps to take between elements within the range. This means that you don't need to take every element. You could take **every other** element. To do that you just specify a `step` of `2`.

In [21]:
food[0:2]

'Bu'

In [22]:
food[0 : 4 : 2]

'Br'

In [ ]:
food[2:5]

Because some types of slicing are used more frequently than others, Python assumes that if you leave an option empty that you are making the default selection. The defaults for slicing are:

* `start_index` is set to `0`
* `stop_index` is set to `-1` (notice that this will always be the last character no matter how long the string is)
* `step` is set to  `1`

### Location and Counting

In [25]:
food.count("u")

1

In [26]:
food.count("o")

0

In [28]:
food.find("u")

1

<mark> I have a string called pet_shop that has all of the different pet varieties in a store. </mark>

In [31]:
pet_shop = 'dog cat hedgehog fish bird'

<mark>  Capitalize all of the different pet types in a single line </mark>

In [34]:
pet_shop.title()

'Dog Cat Hedgehog Fish Bird'

<mark> Print out a single `g` from `pet_shop` </mark>

In [36]:
pet_shop[2]

'g'

<mark> Print out just `hedgehog` </mark>

In [38]:
pet_shop[8:16]

'hedgehog'

<mark> I have two variables, dogs and cats: </mark>

In [41]:
dogs, cats = '8', '4'

that tell me how many `dogs` and `cats` I have at the store. Using these two variables, calculate how many more dogs I have than cats

In [42]:
print("I have", dogs, "dogs and", cats, "cats.")
print("I have", int(dogs)-int(cats), "dogs more than cats.")

I have 8 dogs and 4 cats.
I have 4 dogs more than cats.

In [43]:
print(" Bravo! Exercises completed!")

 Bravo! Exercises completed!