## Advance Data types

Python has four collection data types:

* Lists
* Tuples
* Sets
* Dictionaries

These data types allow for a greater number of operations because they can hold multiple elements.  In order to ease into deadling with collections, we will first recall some properties of another collection data type: strings.

### Lists
A list is an ordered sequence of elements, with that order being specified by the order that the elements are in when the list is created or as elements are added to the list. We create a list by using the `[]` syntax.

Let's go back to our obsession with pets, and imagine we own a pet store that carries a number of different species of pets.

In [40]:
pets=["dogs","cats","fish"]

In [41]:
pets

['dogs', 'cats', 'fish']

In [42]:
type(pets)

list

In [43]:
pets[0]

'dogs'

In [44]:
pets[1]

'cats'

Notice that the list printed the elements in the same order in which they were created. Unlike strings, **lists are mutable**. Thus, we can change them. 

If we want to add an element to the list, we `append()` the new element to the list.

In [45]:
pets

['dogs', 'cats', 'fish']

In [46]:
pets.append("Birds") # adding element to existing list

In [47]:
pets

['dogs', 'cats', 'fish', 'Birds']

In [48]:
#pets.append("parrot","dolphin")

TypeError: list.append() takes exactly one argument (2 given)

In [49]:
pets.append(["parrot","dolphin"])

In [50]:
pets

['dogs', 'cats', 'fish', 'Birds', ['parrot', 'dolphin']]

In [51]:
pets[4]

['parrot', 'dolphin']

In [52]:
pets[4][1]

'dolphin'

In [53]:
pets.remove(["parrot","dolphin"]) # removing element from the list

In [54]:
pets

['dogs', 'cats', 'fish', 'Birds']

This is not what I had in mind, I wanted to add 'parrot' and 'dolphin', not the list `['parrot', 'dolphin']`. If we want to add multiple additional values, we can either append them one by one, or we can `extend()` our list `pets` with the list of additional pets that our pet shop carries.

In [55]:
pets.extend(["parrot","dolphin"])

In [56]:
pets

['dogs', 'cats', 'fish', 'Birds', 'parrot', 'dolphin']

In [57]:
pets[4]

'parrot'

In [58]:
pets[5]

'dolphin'

In [59]:
pets + ["Chameleon","Hamster"]

['dogs', 'cats', 'fish', 'Birds', 'parrot', 'dolphin', 'Chameleon', 'Hamster']

In [60]:
pets

['dogs', 'cats', 'fish', 'Birds', 'parrot', 'dolphin']

In [61]:
pets=pets + ["Chameleon","Hamster"]

In [62]:
pets

['dogs', 'cats', 'fish', 'Birds', 'parrot', 'dolphin', 'Chameleon', 'Hamster']

And just like strings, we can use both of the additive math operators. I'll use a small number here so as not to flood the screen, but we can multiply the list too.

In [63]:
pets * 2

['dogs',
 'cats',
 'fish',
 'Birds',
 'parrot',
 'dolphin',
 'Chameleon',
 'Hamster',
 'dogs',
 'cats',
 'fish',
 'Birds',
 'parrot',
 'dolphin',
 'Chameleon',
 'Hamster']

In [64]:
pets - ["fish"] # not supported

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [65]:
pets

['dogs', 'cats', 'fish', 'Birds', 'parrot', 'dolphin', 'Chameleon', 'Hamster']

In [66]:
len(pets) # size of list

8

As for strings, subtraction and division are not implemented for lists. The reason is that it is not clear what subtracting two lists should produce.

In [67]:
pets.count("dogs")

1

In [68]:
pets.append("dogs")

In [70]:
pets

['dogs',
 'cats',
 'fish',
 'Birds',
 'parrot',
 'dolphin',
 'Chameleon',
 'Hamster',
 'dogs']

In [69]:
pets.count("dogs")

2

In [71]:
pets.index("fish")

2

In [72]:
pets.index("dogs")

0

### Adding and removing elements from a list

Python provides several methods for changing the contents of a list.  We will first look at `insert()` and `pop()`.

In [73]:
pets

['dogs',
 'cats',
 'fish',
 'Birds',
 'parrot',
 'dolphin',
 'Chameleon',
 'Hamster',
 'dogs']

In [74]:
pets.insert(5,"leopards") # insert(index,"element")

In [75]:
pets

['dogs',
 'cats',
 'fish',
 'Birds',
 'parrot',
 'leopards',
 'dolphin',
 'Chameleon',
 'Hamster',
 'dogs']

Wait, it is illegal to have leopards as pets. Better take it out from our list.

In [76]:
pets.pop(5) # removing element on the basis of index and printing that element  pets.remove("leopards")

'leopards'

In [77]:
pets

['dogs',
 'cats',
 'fish',
 'Birds',
 'parrot',
 'dolphin',
 'Chameleon',
 'Hamster',
 'dogs']

Notice how popping an element, returns its value.  A limitation of `pop()` is that we must know the index of the value we want to remove. If we do not have that knowledge, then we can use the function `remove()`:

In [78]:
pets.insert(0,"snail")

In [79]:
pets

['snail',
 'dogs',
 'cats',
 'fish',
 'Birds',
 'parrot',
 'dolphin',
 'Chameleon',
 'Hamster',
 'dogs']

In [80]:
pets.remove("snail")

In [81]:
pets

['dogs',
 'cats',
 'fish',
 'Birds',
 'parrot',
 'dolphin',
 'Chameleon',
 'Hamster',
 'dogs']

In [82]:
del pets[0]

In [83]:
pets

['cats', 'fish', 'Birds', 'parrot', 'dolphin', 'Chameleon', 'Hamster', 'dogs']

Another way to remove elements from a list is with the command `del`. However, `del` is a sort of nuclear option. If we do not provide an an index though it will delete the **entire** variable from memory! **Be careful when you use `del`**.

In [84]:
a=["abc","xyz"]

In [85]:
a

['abc', 'xyz']

In [86]:
del a # delete complete list

In [88]:
pets

['cats', 'fish', 'Birds', 'parrot', 'dolphin', 'Chameleon', 'Hamster', 'dogs']

### Ordering lists

Lists have other built-in methods too besides the maintenance functions of adding and deleting elements. For example, you can reverse a list:

In [89]:
pets.reverse()  # reversing the list # makes changes in same list

In [90]:
pets

['dogs', 'Hamster', 'Chameleon', 'dolphin', 'parrot', 'Birds', 'fish', 'cats']

In [91]:
pets.sort()

In [92]:
pets

['Birds', 'Chameleon', 'Hamster', 'cats', 'dogs', 'dolphin', 'fish', 'parrot']

The elements in a list can also be sorted.  If the elements are numbers that the standard ordering of numbers is used. If the elements are string, then alphanumeric ordering is used.

In [93]:
a=[1,7,4,5,72,21]

In [94]:
a.sort()

In [95]:
a

[1, 4, 5, 7, 21, 72]

Notice that the methods `sort()` and `reverse()` act on the variable directly.  If you want to keep the original variable unchanged, you must use the built-in functions  `sorted()` and `reversed()`.

In [96]:
reversed(a)

The output of the function `reversed()` is not a list. It is what Python calls an `iterator`, this is just a rule for generating values from some input. The advantage of `iterators` is that they require less memory and may be faster???

However, if we want to have a human readable printout, we need to cast the iterator as a list.

In [97]:
list(reversed(a)) # not making changes in the same list

[72, 21, 7, 5, 4, 1]

In [98]:
a

[1, 4, 5, 7, 21, 72]

## Hands On Exercise

<mark> Create your shoping list & Print it </mark>

In [99]:
shop_list=["milk","chips","coffee"]

In [100]:
print(shop_list)

['milk', 'chips', 'coffee']

<mark> You are now the manager of the pet store! I'm going to need you to manage the inventory of pets that we have at the store.</mark>

In [101]:
pet_store = ['beagle', 'parrot', 'iguana', 'gerbil', 'chameleon', 'fish']

<mark> We've sold out of `chameleon` and `iguana`, you need to remove them from the inventory. Use both `remove()` and `del` to do so. </mark>

In [103]:
pet_store.remove("chameleon")

In [104]:
pet_store

['beagle', 'parrot', 'iguana', 'gerbil', 'fish']

In [105]:
del pet_store[2]

In [106]:
pet_store

['beagle', 'parrot', 'gerbil', 'fish']

<mark> We just got in a `terrier`, `chameleon`, `bulldog`, and another `terrier`. Please add all of those animals to the `pet_store`.</mark>

In [107]:
pet_store.extend(["terrier","chameleon","bulldog","terrier"])

In [108]:
pet_store

['beagle',
 'parrot',
 'gerbil',
 'fish',
 'terrier',
 'chameleon',
 'bulldog',
 'terrier']

<mark> Now, how many animal  do we currently have in the store? </mark>

In [109]:
len(pet_store)

8

<mark> How many `terrier` dogs do we have in the store? (Hint: the `list` data type has a built-in function called `count()`) </mark>

In [110]:
pet_store.count("terrier")

2

<mark> As an owner, I actually have a very bad obsessive-compulsive disorder. Could you please reverse-alphabetically sort the pet types at the store? Thanks so much! Also going to need you to work this entire weekend. For free.</mark>

In [111]:
pet_store

['beagle',
 'parrot',
 'gerbil',
 'fish',
 'terrier',
 'chameleon',
 'bulldog',
 'terrier']

In [112]:
pet_store.sort() #Alphabetically sorted

In [113]:
pet_store

['beagle',
 'bulldog',
 'chameleon',
 'fish',
 'gerbil',
 'parrot',
 'terrier',
 'terrier']

In [114]:
pet_store.reverse()

In [115]:
pet_store

['terrier',
 'terrier',
 'parrot',
 'gerbil',
 'fish',
 'chameleon',
 'bulldog',
 'beagle']

In [116]:
sorted(pet_store,reverse= True)

['terrier',
 'terrier',
 'parrot',
 'gerbil',
 'fish',
 'chameleon',
 'bulldog',
 'beagle']

<mark> What is the index of `parrot`? </mark>

In [120]:
pet_store.index("parrot")

2

## Tuples

On the surface, tuples appear similar to `list`:

* Both Tuples and Lists contain a sequence of individual elements
* Both Tuples and Lists are stored in the order that they were added
* Both Tuples and Lists can store mixed data types
* We access individual elements with the syntax `variable[index]`

So what is the difference? 

The big difference is that tuples are an **immutable** data type (like strings). This means that none of the functions that are built-in to modify variables can be applied to tuples.

In order to indicate this **crucial** difference between lists and tuples, Python uses a different syntax to create a tuple.
The syntax for creating a `list` uses `[]`. The syntax to create a `tuple` uses `()`.

In [121]:
# Penny is our Golden Retriver
penny=(60,75,"yellow")   #len,weight & Color

Notice that since it isn't necessarily clear what each of the individual elements stood for in the tuple, I added a comment listing the meaning of each field. As we discussed earlier, comments are signaled in Python by the symbol `#` Whatever you type in a line after the `#` will be ignored by the Python interpreter.

Because tuples are immutable element assignment does not work.

In [122]:
type(penny)

tuple

In [123]:
penny

(60, 75, 'yellow')

In [124]:
del penny[2]

TypeError: 'tuple' object doesn't support item deletion

and neither does element removal.  However, We can still perform the additive operators with tuples though

In [125]:
penny + ("Brown","Stinky")

(60, 75, 'yellow', 'Brown', 'Stinky')

In [126]:
penny

(60, 75, 'yellow')

In [127]:
penny.append("Brown")

AttributeError: 'tuple' object has no attribute 'append'

The reason is that when we add something to a tuple we are not changing the tuple, we are creating a new tuple. Notice that if we do not copy the new tuple into a new variable, then it is lost ot us.

Another subtlety with tuples is that they require a non-obvious syntax when they have a single element.  Specifically, a tuple with a single element must be written as using the syntax `(value, )`. Without the comma, the Python interpreter would decide that we are using the `()` in the context of a mathematical operation.

In [128]:
penny2=penny + ("Brown","Stinky") # we have created new tuppled , Tupple can't be modfied

In [129]:
penny2

(60, 75, 'yellow', 'Brown', 'Stinky')

In [131]:
penny2[1]

75

### So wait, why are there both lists and tuples? 

I know, right now it's pretty hard to see why you would use one data type over the other. 

Remember that Python was developed with the ideal of being readable and understandable. That means that when you are writing code, you want to make choices that make it easy for others to understand what is going on. For example, if you have a some variable that contains values that are never going to change, then why would you use a mutable data type such as a list to store it?  

Think of the days of the week or the months of the year: Does it make more sense to define

`days_of_the_week = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")`

or 

`days_of_the_week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]`?

By using a tuple to store some data, you are signaling to a reader of your code, that the values you stored are not going to change during the execution of your code.

## Sets

A Python set is an unordered collection that prevents the repetition of values from occurring.  To create a `set` we use the syntax `{}`. 

Why do we need sets? Imagine, for example, that you want to store the names of your friends; you will want to use a list since you might have several friends named Mary.  However, if you are storing the city in which your friends live, you do not want the same city repeated several times. If you want to find out cities to visit where you have friends you only need the city name in there once.

Let us see this in play with our pet store.  We want to keep track of what pet species we have.

In [132]:
pet_species={"bulldog","hamster","parrot","hamster"}

In [133]:
pet_species # Set only keeps unique elements & discard duplicates

{'bulldog', 'hamster', 'parrot'}

Sets are also **mutable**, like a `list`. However, they don't use the same built-in functions. To add an item, you use the built-in function `add()`. T remove an element, you use the built-in function `discard()`.  Notice, however, that **sets cannot be added or multiplied**.

In [134]:
pet_species.add("Crocodile")

In [135]:
pet_species

{'Crocodile', 'bulldog', 'hamster', 'parrot'}

In [136]:
pet_species.add("Crocodile")

In [137]:
pet_species

{'Crocodile', 'bulldog', 'hamster', 'parrot'}

In [138]:
pet_species.discard("bulldog")

In [139]:
pet_species

{'Crocodile', 'hamster', 'parrot'}

In [141]:
abc=[1,5,7,3,5,7]

Remove duplicates from the list by using single line of code & I want output in the list format

In [143]:
list(set(abc))

[1, 3, 5, 7]

### Other set operations

Another class of operations that can be performed on sets are `intersection`, `union`, and `difference`. These operations are identical to their homonymous functions in the mathematics of sets.

In [144]:
store_one = {'bulldog', 'parrot', 'hamster', 'fish'}
store_two = {'fish', 'parrot', 'terrier', 'cat'}

print( store_one.intersection(store_two) ) # Common pets in store1 & Store 2

print( store_one.union(store_two) ) # All the elements of store 1 & Store 2

print( store_one.difference(store_two) )  # A - B = A - (A intersection B) # pets which are only present in store 1 but not in store 2

print( store_two.difference(store_one) ) # pets which are only present in store 2 but not in store 1

{'fish', 'parrot'}
{'parrot', 'fish', 'terrier', 'hamster', 'cat', 'bulldog'}
{'hamster', 'bulldog'}
{'cat', 'terrier'}

Note that while `intersection` and `union` are symmetrical -- for example, `A.union(B) = B.union(A)` -- the same is not true for `difference`.

###  Changing types across sets, lists, and tuples

Since `sets`, `lists`, and `tuples` are all collections of elements, Python allows us to easily convert variables from one type to another as needed. You just need to cast the variable.

In [145]:
list_store_one = list( store_one )
print( list_store_one )
print( type(list_store_one) )

['hamster', 'bulldog', 'parrot', 'fish']
<class 'list'>

In [146]:
tuple_store_one = tuple( store_one )
print( tuple_store_one )
print( type(tuple_store_one) )

('hamster', 'bulldog', 'parrot', 'fish')
<class 'tuple'>

In [147]:
reset_store_one = set(tuple_store_one)
print( reset_store_one )
print( type(reset_store_one) )

{'hamster', 'bulldog', 'parrot', 'fish'}
<class 'set'>

# Nesting

So far, most of the elements that we have added to our collections have been `string`, `float`, or `integer` data types. However, the elements of a collections can be collections themselves. Indeed, we can include any data type inside a `tuple` or a `list` or even a `set`.  This process is called **nesting** and it is a bit like Russian dolls.



Let's see nesting at play.  Going back to our pet store, assume that our costumers are picky and care about the breed of the dog they want to buy.

In [149]:
pets = [ 'cats', 'fish','dogs'] # list of pets
print( pets )
pets.pop(2)   # Get rid of dogs
dog_breeds = ['bulldog', 'terrier', 'greyhound']
pets.append(dog_breeds)  # append list of dog breeds available
pets

['cats', 'fish', 'dogs']

['cats', 'fish', ['bulldog', 'terrier', 'greyhound']]

In [150]:
pets[-1]

['bulldog', 'terrier', 'greyhound']

How can we now access a specific dog breed? 

The dog breeds are in a list, so we are able to access any element in that list using an index. We just need to know the name of the list. The name is, of course, `pets[-1]`.

In [151]:
pets[-1][0]

'bulldog'

The parenteses in the command above are unnecessary.  We can just write `pets[-1][0]`. Thus, to access elements in nested lists, we just need to keep adding `[]` in order to navigated deeper and deeper into the nested collection of lists. When Python navigates through your list variable it will always read the indices from left to right, with the leftmost `[]` being the topmost `list`.


Also, we can change the values inside our nested lists just like at our topmost `list` and use all of our normal `list` functions that we used before.

In [152]:
pets[-1][0] = 'golden retriever'
pets

['cats', 'fish', ['golden retriever', 'terrier', 'greyhound']]

In [153]:
pets[-1].append('pug')
pets

['cats', 'fish', ['golden retriever', 'terrier', 'greyhound', 'pug']]

### The subtleties of copying nested structures

Imagine that we open a second pet store, and that initially we will be having the same inventory as in the first store.  As all programmers worth their name, we want to minimize the amount of work we do. Thus, we would never add the names to the list one by one.  We just want to copy the list with the inventory from the first store.

In [156]:
store_one=pets
store_two=store_one ####
print(store_one)
print(store_two)

['cats', 'fish', ['golden retriever', 'terrier', 'greyhound', 'pug']]
['cats', 'fish', ['golden retriever', 'terrier', 'greyhound', 'pug']]

Business is going well at store one. We sold the `pug`, and acquired a `cat` and a `gerbil`:

In [157]:
store_one[-1].remove("pug")

In [158]:
store_one

['cats', 'fish', ['golden retriever', 'terrier', 'greyhound']]

In [159]:
store_one.extend(["cat","gerbil"])

In [160]:
store_one

['cats', 'fish', ['golden retriever', 'terrier', 'greyhound'], 'cat', 'gerbil']

In [161]:
store_two # i have done all the operation on store 1 but it also affected store 2

['cats', 'fish', ['golden retriever', 'terrier', 'greyhound'], 'cat', 'gerbil']

**Both inventories were changed!** 

The reason is that the statement

`store_two = store_one`

did not copy the values in the collection labelled by `store_one` to a new place in memory labelled by `store_two`. It just made the name `store_two` point to the same position in memory as `store_one`. 

If you actually want to copy the values in the collection labelled by `store_one` to a new place in memory, then you have to use one of the built-in functions `copy()` and `deepcopy()`. 

Notice that there are important differences between the two functions. `copy()` does not make copies of nested stuctures. That is, if you a using `copy()` on a list that contains other lists, the other lists are not being copied to a different location in memory.

**Every distribution of Python includes these two functions, but unlike other built-in functions, we have to import them before we can use them!**

In [167]:
from copy import copy
store_one=['beagle', 'terrier', 'bulldog', 'fish']
store_two=copy(store_one)

For now, do not worry about the meanig of the `from ... import ...` command. Just be aware of the subtleties when copying collections, especially nested collections since you may not be doing what you intended to do. Accidentally setting one variable name equal to another without noticint it is a way for logical errors to creep into your programs. **Always be careful! Always test your code!**

In [168]:
store_one.remove('terrier')

In [169]:
store_one

['beagle', 'bulldog', 'fish']

In [170]:
store_two

['beagle', 'terrier', 'bulldog', 'fish']

In [171]:
"dog" == 'dog'

True